@using RustHub.Components.Frameworks.MetaData
@model MetaDataViewModel

@if (Model != null)
{
<title>@Model.Title</title>
<meta name="description" content="Meta description"/>
<meta name="keywords" content="Meta keywords" />
 <!-- Add other meta tags here -->
}
